<% title(@project.name, "Projects") %>

<h2><%= @project.name %></h2>

<%= link_to "Edit Project", edit_project_path(@project) %>

<%= link_to "Delete Project",
     project_path(@project),
     :method => :delete,
     :confirm => "Are you sure you want to delete this project?" %>

<%= link_to "New Step", new_project_step_path(@project) %>

<ul id='steps'>
  <% @project.steps.each do |step| %>
    <li>
      #<%= step.id %> -
      <%= link_to step.title, [@project, step] %>
    </li>
  <% end %>
</ul>
